@model LibrarySystemApplication.Models.Books.Book

<div>
    <h4>@Model.Title</h4>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Publisher:</strong> @Model.Publisher</p>
    <p><strong>Year:</strong> @Model.PublishYear</p>

   
    @if (ViewBag.AlreadyBorrowed == true)
    {
        <button class="btn btn-secondary" disabled>You already Borrowed this</button>
    }
    else
    {
    <form asp-controller="Member" asp-action="Borrow" method="post">
        <input type="hidden" name="bookId" value="@Model.BookId"/>
        <button class="btn btn-success" type="submit">
            Borrow this Book
        </button>
    </form>
    }
    
  
</div>
