@model LibrarySystemApplication.Models.Books.Book

<div>
    <h5>@Model.Title</h5>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>ISBN:</strong> @Model.Isbn</p>
    <p><strong>Publisher:</strong> @Model.Publisher</p>
    <p><strong>Year:</strong> @Model.PublishYear</p>
</div>