@model LibrarySystemApplication.Models.Books.Book

<div>
    <h4>@Model.Title</h4>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Publisher:</strong> @Model.Publisher</p>
    <p><strong>Year:</strong> @Model.PublishYear</p>

    <button class="btn btn-success" onclick="borrowBook('@Model.BookId')">
        Borrow this Book
    </button>
</div>
