@using LibrarySystemApplication.Models.Account
@using LibrarySystemApplication.Models.Books
@using Microsoft.AspNetCore.Identity
@model LibrarySystemApplication.Models.Books.Book
@inject UserManager<Member> userManager


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        * <dt class = "col-sm-2"> 
          
            @Html.DisplayNameFor(model => model.Title) 
        </dt> 
        <dd class = "col-sm-10"> 
            @Html.DisplayFor(model => model.Title) 
        </dd>
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.Author) 
        </dt> 
        <dd class = "col-sm-10"> 
            @Html.DisplayFor(model => model.Author) 
        </dd> 
          @*   @foreach (var category in Model.Categories)
            {
                <dd class = "col-sm-10"> 
                    @Html.DisplayFor(model => category) 
                </dd>
          } *@
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.Publisher) 
        </dt> 
        <dd class = "col-sm-10"> 
            @Html.DisplayFor(model => model.PublishYear) 
        </dd> 
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.Language) 
         </dt> 
    
         <dd class = "col-sm-10"> 
             @Html.DisplayFor(model => model.CoverUrl) 
         </dd> 
    </dl>
    
</div>
<div>
    
    @if (ViewBag.AlreadyBorrowed == true)
    {
        <button class = "btn btn-secondary" disabled> You already Borrowed this  </button>
    }
    else
    {
    <form asp-controller="Member" asp-action="Borrow" method="post">
        <input type="hidden" name="bookId" value="@Model.BookId"/>
        <button type="submit" class="btn btn-primary">Borrow</button>
    </form>
        
    }


    @* <a asp-action="Index">Back to List</a> *@
</div>
